*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: lightskyblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.container{
    background-color: steelblue;
    width: min(100%, 500px);
    padding: 15px;
    border-radius: 10px;
    color: white;
    & h2{
        text-align: center;
        margin-block-end: 10px;
        font-size: 24px;
    }
    & .input{
        display: flex;
        justify-content: space-between;
        margin-block-end: 10px;
        & label, & input{
            font-size: 18px;
        }
        & input{
            border: none;
            border-radius: 5px;
            padding: 5px;
            width: 60%;
            &:focus{
                outline: none;
            }
        }
    }
}
@media (max-width: 400px){
    .container .input{
        flex-direction: column;
        & label{
            margin-block-end: 3px;
        }
        & input{
            width: 100%;
        }
    }
}
